<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage committee portal</title>
   
    <html lang="en"> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <Header>
        <nav>
            <ul>
               <li><a href="/">Home</a></li>
                <li><a href="/Technical">Technical club</a></li>
                <li><a href="/Cultural">Cultural club</a></li>
                <li><a href="/Sport">Sport club</a></li>
                <li><a href="/Eco">Eco club</a></li>

            </ul>


        </nav>

    </Header>
   <main>
    <h1><b><u>ECO CLUB</u></b></h1>
    <div class="details_eco">
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading fw-normal lh-1 bg-success">ECO CLUB<span class="text-body-secondary"></span></h2>
              <p class="lead">Welcome to our ECO club, a vibrant and proactive community that is committed to promoting environmental awareness, sustainable practices, and positive change. With a shared passion for preserving and nurturing our planet, our ECO club serves as a platform for individuals who are eager to make a tangible impact on the environment and inspire others to do the same.

                At the heart of our ECO club is a deep appreciation for the interconnectedness of all living things and the ecosystems that support them. We believe that small actions can lead to significant results, and through our collective efforts, we aim to create a ripple effect that reverberates beyond our immediate surroundings. Through a variety of engaging activities, workshops, and awareness campaigns, we strive to educate our members and the wider community about the pressing environmental issues we face today.
                
                Collaboration lies at the core of our club's philosophy. We recognize that addressing environmental challenges requires a multidisciplinary approach and the combined strengths of individuals from various backgrounds. Our members come from diverse fields of study, and together, we pool our knowledge, creativity, and resources to devise innovative solutions that tackle issues ranging from plastic pollution to energy conservation. Through tree-planting initiatives, waste reduction drives, and community clean-up events, we translate our ideas into meaningful action.
                
                Our ECO club places a strong emphasis on education as a catalyst for change. We believe that by fostering a deeper understanding of environmental issues, we empower individuals to make informed choices that contribute to a greener future. We regularly invite guest speakers, environmental experts, and thought leaders to share their insights and expertise, providing our members with a well-rounded perspective on the complex web of environmental challenges and opportunities.
                
                Inclusivity is a cornerstone of our ECO club's values. We welcome individuals from all walks of life who share our commitment to environmental stewardship. Our club provides a safe and open space for discussion, where every voice is heard and respected. By nurturing a sense of community and camaraderie, we foster an environment that encourages collaboration and mutual support among our members.
                
                Through our ECO club, we aspire not only to raise awareness but also to drive tangible change in our local community and beyond. We partner with local organizations, governmental bodies, and NGOs to amplify our impact and contribute to broader environmental initiatives. Our club also participates in regional and national eco-focused competitions and events, showcasing our dedication to sustainable practices and innovation.
                
                In conclusion, our ECO club is more than just a club; it's a movement that envisions a harmonious coexistence between humanity and nature. By joining us, you become part of a dynamic force that is actively working towards a more sustainable and ecologically conscious world. Whether you are passionate about conservation, interested in renewable energy, or simply curious about how you can make a difference, we invite you to join our ECO club and be a catalyst for positive change.</p>
            </div>
            <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{%static 'images/eco1.jpg'%}" alt="error">
             <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-4" width="500" height="500" src="{%static 'images/eco2.jpg'%}" alt="error">    
             <h3><h3><b>Faculty coordinator:-Dr. Sushma Bahuguna</b></h3>
             <h4><b>Student coordinator:- Mayank Jain(Bca2nd year)</b></h4></h3>
            </div>
        
          </div>
    </div>
   </main>

   <div class="d-grid gap-2 col-6 mx-auto a0">
    <button class="btn btn-primary" type="button"><a class="btn btn-primary" type="button" href="/join" >JOIN NOW</a></button>
    </div>
    

    <footer class="container align-center">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 All Rights Are Reserved .</p>
      </footer>




</body>

</html>