{%load static%}
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collage committee portal</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<html lang="en">

  <link rel="stylesheet" href="{%static 'CSS/style.css'%}">
</head>

<body>


  <Header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
                <li><a href="/Technical">Technical club</a></li>
                <li><a href="/Cultural">Cultural club</a></li>
                <li><a href="/Sport">Sport club</a></li>
                <li><a href="/Eco">Eco club</a></li>


      </ul>


    </nav>
   
  </Header>
  <main>
    <h1><b><u>Sports Club</u></b></h1>
   <div class="details my-4">
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1 bg-success"> SPORTS CLUB<span class="text-body-secondary"></span></h2>
          <p class="lead"> Welcome to our Sports Club, a thriving community where athleticism, camaraderie, and passion come together to celebrate the joy of sports. Our club is a hub for individuals who share a deep appreciation for physical activity, competition, and the countless benefits that sports bring to our lives. Whether you're a seasoned athlete or new to the game, our Sports Club provides a welcoming environment where everyone can pursue their athletic interests and foster a sense of belonging.

            At the heart of our Sports Club is a commitment to promoting active and healthy lifestyles. We believe that sports offer more than just physical exercise; they instill discipline, teamwork, and resilience—qualities that extend beyond the field or court. With a diverse range of sports and activities, from basketball and soccer to yoga and dance, our club caters to a variety of interests, ensuring that every member can find their niche and stay engaged.
            
            Collaboration is a cornerstone of our club's culture. We understand that the camaraderie formed through team sports and group workouts fosters lasting friendships and a strong sense of community. Through friendly matches, tournaments, and fitness challenges, our members have the opportunity to build connections while pushing their limits and honing their skills. These experiences not only promote healthy competition but also teach the value of mutual support and collective achievement.
            
            Our Sports Club is not only about physical prowess but also about personal growth and development. We organize workshops, seminars, and guest speaker sessions that cover topics ranging from sports psychology and injury prevention to nutrition and overall well-being. By equipping our members with knowledge and resources, we empower them to make informed decisions about their health and performance, both on and off the field.
            
            Inclusivity is a fundamental principle of our Sports Club. We welcome individuals of all skill levels and backgrounds to join our community. Our club is a judgment-free zone where members can explore new sports, improve existing skills, and build confidence at their own pace. We believe that everyone has the potential to excel and contribute positively to our club's vibrant atmosphere.
            
            Beyond the confines of our campus, our Sports Club actively participates in intercollegiate competitions and community outreach events. We believe in giving back to the community that supports us, and through sports clinics, charity runs, and workshops, we strive to make a meaningful impact on the lives of others. Our dedication to sports goes beyond personal achievement—it extends to the betterment of society.
            
            In conclusion, our Sports Club is more than just a place to play; it's a space to grow, connect, and thrive. By joining our club, you become part of a supportive network that encourages both physical and personal development. Whether you're aiming for victory on the field, seeking a healthy outlet for stress, or simply looking to make new friends, our Sports Club welcomes you to embark on an exhilarating journey of athleticism and camaraderie.

          </p>
        </div>
        <div class="col-md-5">
          <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" src="{%static 'images/sport.jpg'%}" alt="">         
           <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto my-4" width="600" height="600" src="{%static 'images/sport.jpg'%}" alt="">
           <h3><h3><b class=" coordinator my-4">Faculty coordinator:-Mr.Sandeep Jain</b></h3>
           <h4><b>Student coordinator:- Simrjeet Singh(Bca2nd year)</b></h4></h3>
        </div>
      </div>
   </div>
  </main>

  <div class="d-grid gap-2 col-6 mx-auto a0">
    <button class="btn btn-primary" type="button"><a class="btn btn-primary" type="button" href="/join" >JOIN NOW</a></button>
    </div>
    
    
    <footer class="container align-center">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 All Rights Are Reserved .</p>
      </footer>


</body>

</html>